<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
<key>bundleShortVersionString</key>
	<string>b1.1</string>
	
<key>bundleVersion</key>
	<string>b1.1</string>

<key>genre</key>
	<string>Application</string>
	
<key>kind</key>
	<string>software</string>
	
<key>softwareIconNeedsShine</key>
	<true/>
	
<key>softwareVersionBundleId</key>
	<string>org.Hollanders.Routinely</string>

</dict>
</plist>
